body {
    font-size: 1.5em;
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%)
}

.font {
    font-size: .7em;
    font-weight: 700;
    margin: 0;
}

header {
    background-color: hsl(185, 41%, 84%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    margin: 2em;
}

.compute {
    background-color: white;
    padding: 2rem 2rem 0 2rem;
    border-radius: 30px 30px 0px 0px;
}

.bill_amount {
    background-color: hsl(189, 41%, 97%);
    border: none;
    margin-top: .8rem;
    border-radius: 5px;
    height: 2em;
    width: 96%;
    text-align: end;
    color: rgb(0, 71, 74);
    font-weight: bolder;
    font-size: 1em;
    padding-right: .5em;
}

.input_dollar {
    position: relative;
}

.input_dollar::before {
    position: absolute;
    top: 5px;
    content:"$";
    left: 5px;
    color: hsl(184, 14%, 56%);
    padding-left: .5em;
}

.tip {
    margin-top: 2em;
}

.percent_grid {
    margin-top: .8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .8em;
}

.button {
    background-color: rgb(0, 71, 74);
    color: white;
    height: 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: hsl(172, 67%, 45%);
    color:rgb(0, 71, 74);
}

.custom {
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    height: 2em;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}

.people {
    margin-top: 2em;
}

.people_amount {
    background-color: hsl(189, 41%, 97%);
    border: none;
    margin-top: .8rem;
    border-radius: 5px;
    height: 2em;
    width: 96%;
    text-align: end;
    color: rgb(0, 71, 74);
    font-weight: bolder;
    font-size: 1em;
    padding-right: .5em;
}

.people_entry {
    position: relative;
}

.people_entry img{
    position: absolute;
    top: 1.25em;
    left: .5em;
}

.results {
    padding: 1em;
    background-color: white;
}

.results_card {
    background-color: rgb(0, 71, 74);
    color: hsl(185, 41%, 84%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.5em 3.5em 3.5em;
    border-radius: 15px;
    padding: 1em;
}

.result_one {
    grid-column: 1/2;
}

.result_two {
    grid-column: 1/2;
}

.tip_result {
    grid-column: 2/3;
    text-align: right;
    align-self: center;
    font-size: 1.5em;
    margin-top: 1.3em;
    color:hsl(172, 67%, 45%);
}

.total_result {
    grid-column: 2/3;
    text-align: right;
    align-self: center;
    font-size: 1.5em;
    margin-top: 1.3em;
    color:hsl(172, 67%, 45%);
}

.reset {
    grid-column: 1/3;
    justify-self: center;
    align-self: center;
}

.font_two {
    color: hsl(185, 41%, 84%);
    font-size: .9em;
}

.font_three {
    color:hsl(184, 14%, 56%);
    font-size: .7em;
    margin-top: -1em;
}

#reset {
    background-color:hsl(172, 67%, 45%);
    border: none;
    padding: .7em;
    width: 12em;
    border-radius: 5px;
    color:rgb(0, 71, 74);
    font-weight: bold;
    margin-top: 1em;
}